<!DOCTYPE html>
<html lang="ja">
  <%- include('../components/_head'); %>
  <body id="wrapper">
    <section class="c-panel">
      <%- include('../components/_shops'); %>
    </section>
    <section class="c-panel">
      <%- include('../components/_news'); %>
    </section>
    <section class="c-panel">
      <%- include('../components/_contact'); %>
    </section>
    <script src="js/bundle.js" defer></script>
  </body>
</html>
