<div class="p-cheesetart js-opening">
  <div class="p-cheesetart__lead">
    <h2 class="p-cheesetart__head">記憶に残る、ひとくち</h2>
    <p class="p-cheesetart__sub"><span>サクッ、</span><span>フワッ。</span></p>
    <p class="p-cheesetart__text">
      こだわったのは、“焼きたて”。<br />
      ひとつひとつにおいしさと想いを込めた<br />北海道生まれのチーズタルト。
    </p>
  </div>
  <div class="p-cheesetart__anim">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100%"
      height="100%"
      viewBox="0, 0, 100, 100"
      preserveAspectRatio="none"
    >
      <path d="M0,0 v100 l100,0 Z" fill="gold" />
    </svg>
  </div>
</div>
