<div class="p-contact" id="contact">
  <div class="c-container">
    <div class="p-contact__head">
      <h2 class="c-heading--sm u-font-rockwell js-opening">CONTACT - FAQ</h2>
      <p class="p-contact__lead">
        ご質問内容に応じて、<br
          class="u-br-sp"
        />下記連絡先までお問い合わせください。
      </p>
    </div>
    <div class="p-contact__body">
      <ul class="p-contact__list">
        <li class="p-contact__item js-opening">
          <a href="">商品や店舗に関するお問い合わせ</a>
        </li>
        <li class="p-contact__item js-opening">
          <a href="">採用に関するお問い合わせ</a>
        </li>
        <li class="p-contact__item js-opening">
          <a href="">プロモーションに関するお問い合わせ</a>
        </li>
        <li class="p-contact__item js-opening">
          <a href="">店舗・会社の取材に関するお問い合わせ</a>
        </li>
        <li class="p-contact__item js-opening">
          <a href="">日本国内、および海外の出店に関するお問い合わせ</a>
        </li>
        <li class="p-contact__item js-opening">
          <a href="">FAQ - よくあるご質問</a>
        </li>
      </ul>
      <div class="p-contact__company">
        <dl class="p-contact__company__list js-opening">
          <dt>名称</dt>
          <dd>株式会社BAKE</dd>
          <dt>サポートセンター(本社)</dt>
          <dd>〒108-0071 東京都港区白金台3-19-1 興和白金台ビル</dd>
          <dt>メールアドレス</dt>
          <dd>hello@bake.co.jp</dd>
          <dt>設立</dt>
          <dd>2018年1月1日 (創業 2013年4月16日)</dd>
          <dt>事業内容</dt>
          <dd>菓子の製造・販売、コマースサービスの運営管理、メディア運営</dd>
          <dt>資本金</dt>
          <dd>1億円</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
