<div class="p-essence">
  <div class="c-container">
    <div class="p-essence__panel js-opening">
      <div class="p-essence__head">
        <h2 class="p-essence__ttl">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="image/img_chhesetart_cheese.svg"
            />
            <img src="image/img_chhesetart_cheese_sp.svg" alt="" />
          </picture>
        </h2>
        <div class="p-essence__thumb">
          <h3 class="p-essence__heading">
            <p>フワフワ食感のムース</p>
            <span></span>
          </h3>
          <div class="p-essence__img"></div>
        </div>
      </div>
      <div class="p-essence__body">
        オリジナルブレンドのクリームチーズを使ったフワフワ食感のムース。クリーミーな味わいと爽やかな酸味、ほのかな塩味が口いっぱいに広がります。
      </div>
    </div>
    <div class="p-essence__panel js-opening">
      <div class="p-essence__head">
        <h2 class="p-essence__ttl">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="image/img_chhesetart_tart.svg"
            />
            <img src="image/img_chhesetart_tart_sp.svg" alt="" />
          </picture>
        </h2>
        <div class="p-essence__thumb">
          <h3 class="p-essence__heading">
            <p>２度焼きのタルト生地</p>
            <span></span>
          </h3>
          <div class="p-essence__img"></div>
        </div>
      </div>
      <div class="p-essence__body">
        サクサクの理由は、「2度焼き」だから。オリジナルブレンドの小麦粉でつくるタルト生地は、クッキーの状態で1度焼き、ムースを入れてからもう1度焼き上げています。
      </div>
    </div>
  </div>
</div>
