<ul class="p-floatmenu u-font-furuta">
  <li class="p-floatmenu__spnav js-spnav"><span></span></li>
  <li class="p-floatmenu__lang"><i class="fas fa-globe"></i>JP</li>
  <li class="p-floatmenu__shop">
    <div class="p-floatmenu__navlink">SHOPS</div>
    <div class="p-floatmenu__navlink">ONLINE SHOP</div>
  </li>
</ul>
