<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="p-footer u-font-furuta">
      <div class="p-footer__logo">
        <img src="image/logo--white.svg" alt="" />
      </div>
      <div class="p-footer__info">
        <ul class="p-footer__nav">
          <li><a href="">BAKE CHEESE TART</a></li>
          <li><a href="">ESSENSE</a></li>
          <li><a href="">PRICE</a></li>
          <li><a href="">HOW TO EAT</a></li>
          <li><a href="">PHILOSOPHY</a></li>
          <li><a href="">SHOPS</a></li>
          <li><a href="">NEWS</a></li>
          <li><a href="">CONTACT - FAQ</a></li>
        </ul>
        <div class="p-footer__bottom">
          <ul class="p-footer__sns">
            <li>
              <a href=""><img src="image/facebook.png" alt="" loading="lazy" /></a>
            </li>
            <li>
              <a href=""><img src="image/twitter.png" alt="" loading="lazy" /></a>
            </li>
            <li>
              <a href=""><img src="image/insta.png" alt="" loading="lazy" /></a>
            </li>
          </ul>
          <small class="p-footer__copy"
            >COPYRIGHT &copy; BAKE INC. ALL RIGHTS RESERVED.</small
          >
        </div>
      </div>
    </div>
  </div>
</footer>
