<nav class="p-gnav u-font-furuta">
  <ul id="gnav">
    <li>
      <a href="#top"><span>Top</span></a>
    </li>
    <li>
      <a href="#cheesetart"><span>BAKE CHEESE TART</span></a>
    </li>
    <li>
      <a href="#essence"><span>ESSENCE</span></a>
    </li>
    <li>
      <a href="#price"><span>PRICE</span></a>
    </li>
    <li>
      <a href="#howtoeat"><span>HOW TO EAT</span></a>
    </li>
    <li>
      <a href="#philosophy"><span>PHILOSOPHY</span></a>
    </li>
    <li>
      <a href="#shops"><span>SHOPS</span></a>
    </li>
    <li>
      <a href="#news"><span>NEWS</span></a>
    </li>
    <li>
      <a href="#contact"><span>CONTACT - FAQ</span></a>
    </li>
  </ul>
</nav>
