<nav class="p-gnav u-font-furuta js-gnav">
  <ul id="gnav" class="p-gnav__dot">
    <li class="u-delay--1">
      <a href="#top"><span>Top</span></a>
    </li>
    <li class="u-delay--2">
      <a href="#cheesetart"><span>BAKE CHEESE TART</span></a>
    </li>
    <li class="u-delay--3">
      <a href="#essence"><span>ESSENCE</span></a>
    </li>
    <li class="u-delay--4">
      <a href="#price"><span>PRICE</span></a>
    </li>
    <li class="u-delay--5">
      <a href="#howtoeat"><span>HOW TO EAT</span></a>
    </li>
    <li class="u-delay--6">
      <a href="#philosophy"><span>PHILOSOPHY</span></a>
    </li>
    <li class="u-delay--7">
      <a href="#shops"><span>SHOPS</span></a>
    </li>
    <li class="u-delay--8">
      <a href="#news"><span>NEWS</span></a>
    </li>
    <li class="u-delay--9">
      <a href="#contact"><span>CONTACT - FAQ</span></a>
    </li>
  </ul>
  <ul class="p-gnav__language u-delay--10">
    <li class="is-selected"><i class="fas fa-globe"></i>JAPANESE</li>
    <li><i class="fas fa-globe"></i>ENGLISH</li>
  </ul>
  <!-- <ul class="p-gnav__country">
    <li></li>
    <li></li>
    <li></li>
  </ul> -->
</nav>
