<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    ベイク チーズタルト | BAKE CHEESE TART
  </title>
  <link rel="stylesheet" href="https://use.typekit.net/owb1teb.css" />
  <link
    href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="css/style.css" />
</head>
