<div class="p-howtoeat">
  <div class="c-container">
    <div class="p-howtoeat__head">
      <p class="p-howtoeat__heading js-opening">
        BAKE CHEESE TARTのチーズタルトは、<br
          class="u-br-pc"
        />食べ方によってさまざまな表情に変化します。<br
          class="u-br-pc"
        />4通りのおいしさを食べ比べてみてください。
      </p>
    </div>
    <div class="p-howtoeat__body">
      <p class="js-opening">
        すぐにお召し上がりにならない場合は、<br
          class="u-br-pc"
        />冷蔵庫または冷凍庫にて保存し、できるだけお早めにお召し上がりください。
      </p>
      <%- include('../components/_howtoeat-card'); %>
    </div>
  </div>
</div>
