<ul class="p-howtoeat-card">
  <li class="p-howtoeat-card__item">
    <div class="p-howtoeat-card__head">
      <span class="u-font-furuta"><span>1</span></span>
      <P class="p-howtoeat-card__ttl">
        <span class="u-font-rockwell p-howtoeat-card__en">FRESH</span>
        <span class="p-howtoeat-card__jp">まずはそのままで</span>
      </P>
    </div>
    <div class="p-howtoeat-card__img">
      <img src="image/bite_step1_img.jpg" alt="" />
    </div>
    <div class="p-howtoeat-card__body">
      焼きたてならではの「サクッ、フワッ」なおいしさをお楽しみください。
    </div>
  </li>
  <li class="p-howtoeat-card__item">
    <div class="p-howtoeat-card__head">
      <span class="u-font-furuta"><span>2</span></span>
      <P class="p-howtoeat-card__ttl">
        <span class="u-font-rockwell p-howtoeat-card__en">CHILLED</span>
        <span class="p-howtoeat-card__jp">冷蔵庫で冷やして</span>
      </P>
    </div>
    <div class="p-howtoeat-card__img">
      <img src="image/bite_step2_img.jpg" alt="" />
    </div>
    <div class="p-howtoeat-card__body">
      冷蔵庫で冷やすと、ずっしりとしたレアチーズケーキのような食感になります。
    </div>
  </li>
  <li class="p-howtoeat-card__item">
    <div class="p-howtoeat-card__head">
      <span class="u-font-furuta"><span>3</span></span>
      <P class="p-howtoeat-card__ttl">
        <span class="u-font-rockwell p-howtoeat-card__en">FROZEN</span>
        <span class="p-howtoeat-card__jp">冷凍庫で凍らせて</span>
      </P>
    </div>
    <div class="p-howtoeat-card__img">
      <img src="image/bite_step3_img.jpg" alt="" />
    </div>
    <div class="p-howtoeat-card__body">
      冷凍庫で凍らすことで、チーズアイスのようなひんやりケーキに生まれ変わります。
    </div>
  </li>
  <li class="p-howtoeat-card__item">
    <div class="p-howtoeat-card__head">
      <span class="u-font-furuta"><span>4</span></span>
      <P class="p-howtoeat-card__ttl">
        <span class="u-font-rockwell p-howtoeat-card__en">WARM</span>
        <span class="p-howtoeat-card__jp">オーブンで温めて</span>
      </P>
    </div>
    <div class="p-howtoeat-card__img">
      <img src="image/bite_step4_img.jpg" alt="" />
    </div>
    <div class="p-howtoeat-card__body">
      オーブントースターで少し温めると、焼きたての食感がよみがえります。
    </div>
  </li>
</ul>
