<div class="p-news" id="news">
  <div class="c-container">
    <div class="p-news__head">
      <h2 class="c-heading--sm u-font-rockwell js-opening">NEWS</h2>
    </div>
    <div class="p-news__body js-opening">
      <ul class="p-news__list">
        <li class="p-news__item">
          <a href="">
            <div class="p-news__thumb p-news__thumb--01"></div>
            <div class="p-news__txt">
              <p>BAKEアプリ システム障害のお詫びとお知らせ（更新）</p>
              <span class="u-font-furuta">2020.06.08</span>
            </div>
          </a>
        </li>
        <li class="p-news__item">
          <a href="">
            <div class="p-news__thumb p-news__thumb--02"></div>
            <div class="p-news__txt">
              <p>店舗の営業時間短縮・休館についてのお知らせ</p>
              <span class="u-font-furuta">2020.03.04</span>
            </div>
          </a>
        </li>
        <li class="p-news__item">
          <a href="">
            <div class="p-news__thumb p-news__thumb--03"></div>
            <div class="p-news__txt">
              <p>BAKEアプリ システム障害のお詫びとお知らせ（更新）</p>
              <span class="u-font-furuta">2020.06.08</span>
            </div>
          </a>
        </li>
        <li class="p-news__item">
          <a href="">
            <div class="p-news__thumb p-news__thumb--04"></div>
            <div class="p-news__txt">
              <p>店舗の営業時間短縮・休館についてのお知らせ</p>
              <span class="u-font-furuta">2020.03.04</span>
            </div>
          </a>
        </li>
        <li class="p-news__item">
          <a href="">
            <div class="p-news__thumb p-news__thumb--05"></div>
            <div class="p-news__txt">
              <p>BAKEアプリ システム障害のお詫びとお知らせ（更新）</p>
              <span class="u-font-furuta">2020.06.08</span>
            </div>
          </a>
        </li>
        <li class="p-news__item">
          <a href="">
            <div class="p-news__thumb p-news__thumb--06"></div>
            <div class="p-news__txt">
              <p>店舗の営業時間短縮・休館についてのお知らせ</p>
              <span class="u-font-furuta">2020.03.04</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="p-news__btn u-font-furuta js-opening">
      <a href="">NEWS PAGE</a>
    </div>
  </div>
</div>
