<div class="p-philosophy-card">
  <div class="p-philosophy-card__label">
    <span>原材料にこだわる</span>
    <span></span>
  </div>
  <div class="p-philosophy-card__panel">
    <div class="p-philosophy-card__thumb p-philosophy-card__thumb--01"></div>
    <dl class="p-philosophy-card__body">
      <dt>原材料にこだわる</dt>
      <dd>
        国内外の原材料を厳選・追求し、安心安全でおいしいお菓子づくりを目指しています。
      </dd>
    </dl>
  </div>
</div>
