<div class="p-philosophy">
  <div class="c-container">
    <h2 class="p-philosophy__head">
      <div class="p-philosophy__heading">
        <p>私たちは</p>
        <span></span>
      </div>
      <div class="p-philosophy__heading">
        <p>チーズタルトに本気です。</p>
        <span></span>
      </div>
    </h2>
    <div class="p-philosophy__body">
      <div class="p-philosophy__item">
        <div>
          <div class="p-philosophy__panel js-philosophy-panel">
            <div class="p-philosophy-card">
              <div class="p-philosophy-card__label">
                <p>原材料にこだわる</p>
                <span></span>
              </div>
              <span class="p-philosophy-card__toggle"></span>
              <div class="p-philosophy-card__panel">
                <div
                  class="p-philosophy-card__thumb p-philosophy-card__thumb--01"
                ></div>
                <dl class="p-philosophy-card__body">
                  <dt>原材料にこだわる</dt>
                  <dd>
                    国内外の原材料を厳選・追求し、安心安全でおいしいお菓子づくりを目指しています。
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="p-philosophy__panel js-philosophy-panel">
            <div class="p-philosophy-card">
              <div class="p-philosophy-card__label">
                <p>手間を惜しまない</p>
                <span></span>
              </div>
              <span class="p-philosophy-card__toggle"></span>
              <div class="p-philosophy-card__panel">
                <div
                  class="p-philosophy-card__thumb p-philosophy-card__thumb--02"
                ></div>
                <dl class="p-philosophy-card__body">
                  <dt>手間を惜しまない</dt>
                  <dd>
                    国内外の原材料を厳選・追求し、安心安全でおいしいお菓子づくりを目指しています。
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="p-philosophy__panel js-philosophy-panel">
            <div class="p-philosophy-card">
              <div class="p-philosophy-card__label">
                <p>フレッシュなタイミングで</p>
                <span></span>
              </div>
              <span class="p-philosophy-card__toggle"></span>
              <div class="p-philosophy-card__panel">
                <div
                  class="p-philosophy-card__thumb p-philosophy-card__thumb--03"
                ></div>
                <dl class="p-philosophy-card__body">
                  <dt>フレッシュなタイミングで</dt>
                  <dd>
                    国内外の原材料を厳選・追求し、安心安全でおいしいお菓子づくりを目指しています。
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="p-philosophy__lead">
          <div class="u-font-rockwell p-philosophy__en">
            <span>PHI</span>
            <span>LOSO</span>
            <span>PHY</span>
          </div>
          <p class="p-philosophy__jp">
            私たちは、<br />チーズタルトをつくる上で、<br />３つのことを<br />大切にしています。
          </p>
        </div>
      </div>
    </div>
    <div class="p-philosophy__body">
      <div class="p-philosophy__item">
        <div>
          <div class="p-philosophy__panel js-philosophy-panel">
            <div class="p-philosophy-card">
              <div class="p-philosophy-card__label">
                <p>ロゴに込めた思い</p>
                <span></span>
              </div>
              <span class="p-philosophy-card__toggle"></span>
              <div class="p-philosophy-card__panel">
                <div
                  class="p-philosophy-card__thumb p-philosophy-card__thumb--04"
                ></div>
                <dl class="p-philosophy-card__body">
                  <dt>ロゴに込めた思い</dt>
                  <dd>
                    国内外の原材料を厳選・追求し、安心安全でおいしいお菓子づくりを目指しています。
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="p-philosophy__panel js-philosophy-panel">
            <div class="p-philosophy-card">
              <div class="p-philosophy-card__label">
                <p>”工房一体型”店舗が生まれた理由</p>
                <span></span>
              </div>
              <span class="p-philosophy-card__toggle"></span>
              <div class="p-philosophy-card__panel">
                <div
                  class="p-philosophy-card__thumb p-philosophy-card__thumb--05"
                ></div>
                <dl class="p-philosophy-card__body">
                  <dt>”工房一体型”店舗が生まれた理由</dt>
                  <dd>
                    国内外の原材料を厳選・追求し、安心安全でおいしいお菓子づくりを目指しています。
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="p-philosophy__lead">
          <div class="u-font-rockwell p-philosophy__en">
            <span>DE</span>
            <span>SIGN</span>
          </div>
          <p class="p-philosophy__jp">
            私たちの<br />チーズタルトへの想いは、<br />ロゴや店舗デザインにも<br />表われています。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
