<div class="p-philosophy">
  <div class="c-container">
    <h2 class="p-philosophy__head">
      <div class="p-philosophy__heading">
        <p>私たちは</p>
      </div>
      <div class="p-philosophy__heading">
        <p>チーズタルトに本気です。</p>
      </div>
    </h2>
    <div class="p-philosophy__body">
      <div class="p-philosophy__item">
        <div class="p-philosophy__panel">
          <%- include('../components/_philosophy-card'); %>
        </div>
        <div class="p-philosophy__heading">
          <div>
            <span>PHI</span>
            <span>LOSO</span>
            <span>PHY</span>
          </div>
          <p>
            私たちは、<br />チーズタルトをつくる上で、<br />３つのことを<br />大切にしています。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
