<div class="p-price">
  <div class="p-price__inner">
    <div class="c-container">
      <h2 class="p-price__head c-heading--lg u-font-rockwell">PRICE</h2>
      <div class="p-price__body u-font-furuta">
        <div class="p-price__item js-opening">
          <div class="p-price__piece">
            <p>1 PIECE</p>
            <span></span>
          </div>
          <div class="p-price__thumb p-price__thumb--01"></div>
          <div class="p-price__price">
            <p>216 yen <span>(tax incl.)</span></p>
            <span></span>
          </div>
        </div>
        <div class="p-price__item js-opening">
          <div class="p-price__piece">
            <p>6 PIECES (IN BOX)</p>
            <span></span>
          </div>
          <div class="p-price__thumb p-price__thumb--02"></div>
          <div class="p-price__price">
            <p>1,242 yen <span>(tax incl.)</span></p>
            <span></span>
          </div>
        </div>
      </div>
      <div class="p-price__note js-opening">
        アレルギー品目：乳・小麦・卵<br />
        一部店舗では、ソフトクリームの販売も行っております。
      </div>
    </div>
  </div>
</div>
