.p-howtoeat-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 50px;
  padding-bottom: 2em;

  @include mqSm {
    grid-template-columns: 1fr 1fr;
    gap: 6vw;
    padding-bottom: 27vw;
  }

  &__item {
    transition: all 1s 0.3s ease;
    opacity: 0;
    padding-top: 3em;

    &:nth-child(2) {
      margin-top: 6rem;

      @include mqSm {
        margin-top: 9vw;
      }
    }
    &:nth-child(3) {
      margin-top: 12rem;

      @include mqSm {
        margin-top: 0;
      }
    }
    &:nth-child(4) {
      margin-top: 18rem;

      @include mqSm {
        margin-top: 9vw;
      }
    }

    &.is-active {
      opacity: 1;
      padding-top: 0;

      .p-howtoeat-card {
        &__img,
        &__body {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  &__head {
    position: relative;
    line-height: 1;

    > span {
      display: inline-block;
      background: #000;
      color: #fff;
      font-size: 2rem;
      width: 3em;
      position: relative;

      @include mqSm {
        font-size: 3.6vw;
        width: 2.4em;
      }

      > span {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }

  &__ttl {
    position: absolute;
    top: 55%;
    left: 16%;

    @include mqSm {
      top: 80%;
    }
  }

  &__en {
    font-size: 4.8rem;
    color: #fff;
    letter-spacing: 0.15em;
    display: block;

    @include mqSm {
      font-size: 6.6vw;
    }
  }

  &__jp {
    font-size: 2rem;

    @include mqSm {
      font-size: 3.2vw;
    }
  }

  &__img {
    padding-top: 6em;
    transform: translateY(2vw);
    transition: all 1s 0.8s ease;
    opacity: 0;

    @include mqSm {
      padding-top: 3em;
    }
  }

  &__body {
    transform: translateY(2vw);
    transition: all 1s 1s ease;
    opacity: 0;

    @include mqSm {
      font-size: 3.2vw;
    }
  }
}
