.p-mv {
  background-image: url("../image/img_hero.jpg");
  background-position: center top;
  background-size: 110%;
  position: relative;
  z-index: 9;
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 75%);
  transition: all 1.5s ease;

  @include mqSm {
    background-image: url("../image/img_hero_sp.jpg");
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 85%);
  }

  &::before {
    content: "";
    display: block;
    padding-top: 94%;
    width: 100%;
    height: 100%;

    @include mqSm {
      padding-top: 234%;
    }
  }

  &__anim {
    height: 120%;
    position: absolute;
    top: 0%;
    width: 50%;
    left: 0;
    z-index: 9;
    mix-blend-mode: multiply;
  }
}
