.p-news {
  position: relative;
  margin-bottom: 300px; //TODO: fix margin

  &::before {
    content: "";
    position: absolute;
    top: -20vw;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20vw calc(100vw - 15px);
    border-color: transparent transparent #fff transparent;

    @include mqSm {
      top: -18.5vw;
      border-width: 0 0 18.75vw 100vw;
      transform: rotateY(-180deg);
    }
  }

  &__head {
    padding-top: 6em;
  }

  &__body {
    margin-top: 3em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mqSm {
      display: block;
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &__item {
    width: 48%;

    @include mqSm {
      width: 100%;
    }

    &:nth-child(n + 3) {
      padding-top: 3em;

      @include mqSm {
        padding-top: 0;
      }
    }

    & ~ & {
      @include mqSm {
        padding-top: 5vw;
      }
    }
  }

  &__thumb {
    width: 19.85%;
    position: relative;
    flex-shrink: 0;

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 100%;
      position: absolute;
      background-size: cover;
      background-position: center;
    }

    &--01 {
      &::before {
        background-image: url("../image/img_thumb_01.png");
      }
    }
    &--02 {
      &::before {
        background-image: url("../image/img_thumb_02.png");
      }
    }
    &--03 {
      &::before {
        background-image: url("../image/img_thumb_03.png");
      }
    }
    &--04 {
      &::before {
        background-image: url("../image/img_thumb_04.png");
      }
    }
    &--05 {
      &::before {
        background-image: url("../image/img_thumb_01.png");
      }
    }
    &--06 {
      &::before {
        background-image: url("../image/img_thumb_02.png");
      }
    }
  }

  &__txt {
    padding: 2.5em 3em;

    @include mqSm {
      padding: 0.1em 0 0.1em 1.5em;
    }

    p {
      font-size: 1.6rem; // TODO:1440px->1.4rem

      @include mqSm {
        font-size: 3.2vw;
      }
    }

    span {
      font-size: 1.4rem; // TODO:1440px->1.2rem
      display: inline-block;
      margin-top: 1em;

      @include mqSm {
        font-size: 2.8vw;
        margin-top: 0.5em;
      }
    }
  }

  &__btn {
    margin-top: 6em;

    a {
      max-width: 255px;
      width: 100%;
      height: 60px;
      font-size: 1.8rem;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 0 auto;
      position: relative;

      @include mqSm {
        font-size: 4vw;
        width: 52.4%;
        height: 56px;
      }

      &::before {
        content: "";
        position: absolute;
        background-color: $color-primary;
        transition: opacity 0.3s ease;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      @media (hover: hover) {
        &:hover {
          &::before {
            opacity: 0.6;
          }
        }
      }

      @include mqIe {
        &:hover {
          &::before {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
