.p-philosophy {
  position: relative;
  padding-bottom: 10vw;
  background-color: $color-gray;

  &::before {
    content: "";
    position: absolute;
    top: -12.5vw;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12.5vw calc(100vw - 15px);
    border-color: transparent transparent $color-gray transparent;
    transform: rotateY(-180deg);

    @include mqSm {
      top: -35vw;
      border-width: 0 0 35vw 100vw;
    }
  }

  &__head {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__heading {
    position: relative;
    display: inline-block;
    font-size: 4.8rem;
    font-weight: normal;

    & ~ & {
      top: -55px;
    }

    p {
      display: inline-block;
      padding: 0.75em 1.5em;
      position: relative;
      z-index: 2;
    }

    span {
      position: absolute;
      display: inline-block;
      background-color: $color-primary;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__item {
    // display: flex;
  }

  &__panel {
    width: 50%;
    position: relative;
    transition: 0.5s all ease;
    cursor: pointer;

    & ~ & {
      margin-top: 4vw;
    }

    &:nth-child(2) {
      margin-left: 5vw;

      .p-philosophy-card__label {
        left: -3em;
        bottom: -1em;
        top: unset;
        right: unset;
      }
    }

    &:nth-child(3) {
      .p-philosophy-card__label {
        top: unset;
        bottom: -1em;
      }
    }

    &:hover {
      .p-philosophy-card__panel {
        filter: none;
      }
    }

    &.is-open {
      width: 54.5%;

      .p-philosophy-card__label {
        p {
          transform: translateY(-50%);
          opacity: 0;
        }

        span {
          right: 0;
          left: auto;
          width: 100%;
          width: 0;
        }
      }

      .p-philosophy-card__panel {
        max-height: 60vw;
        filter: none;
      }

      .p-philosophy-card__toggle {
        &::before {
          right: 0;
          left: auto;
          width: 100%;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__body {
    position: relative;

    &:last-child {
      margin-top: 10vw;

      .p-philosophy {
        &__panel {
          margin-right: 0;
          margin-left: auto;

          .p-philosophy-card__label {
            left: -3em;
            right: unset;
          }

          &:nth-child(2) {
            margin-right: 5vw;

            .p-philosophy-card__label {
              top: unset;
              bottom: -1em;
              right: -3em;
              left: unset;
            }
          }
        }

        &__lead {
          right: unset;
          left: 0;
        }

        &__jp {
          right: unset;
          left: 12rem;
          top: 0;
        }

        &__en {
          text-align: left;
          right: unset;
          left: 0;
          top: 2rem;
        }
      }
    }
  }

  &__lead {
    width: 50%;
    top: 0;
    right: 0;
    position: absolute;
  }

  &__jp {
    writing-mode: vertical-rl;
    position: absolute;
    top: 4rem;
    right: 12rem;
    word-break: keep-all;
    font-size: 2.4rem;
    z-index: 2;
    line-height: 2;
  }

  &__en {
    font-size: 12rem;
    letter-spacing: 0.2em;
    color: $color-primary;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    line-height: 1.2;

    span {
      display: block;
    }
  }
}
