.p-philosophy-card {
  position: relative;

  &__label {
    padding: 1.5em 2.5em;
    display: inline-block;
    font-size: 2.4rem; //TODO
    position: absolute;
    right: -3em;
    top: -2em;
    z-index: 3;
    clip-path: inset(0 100% 0 0);
    transition: all 0.5s 1s ease-out;

    @include mqMd {
      font-size: 1.4rem;
    }

    @include mqSm {
      font-size: 3.8vw;
      padding: 1em 2em;
      top: -1.5em;
      right: unset;
      left: -2.3em;
    }

    p {
      position: relative;
      z-index: 2;
      transition: 0.3s all ease;
      transform: translateY(0);
      opacity: 1;
    }

    span {
      position: absolute;
      display: inline-block;
      background-color: $color-primary;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      transition: 0.5s 0.5s all ease;
    }
  }

  &__panel {
    max-height: 10vw;
    transition: 0.5s all ease;
    filter: grayscale(1);
    overflow: hidden;
    clip-path: inset(100% 0 0 0);

    @include mqSm {
      max-height: 24vw;
    }
  }

  &__thumb {
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      display: block;
      padding-top: 44.4%;
    }

    &--01 {
      background-image: url("../image/img_philosophy_01.jpg");
    }

    &--02 {
      background-image: url("../image/img_philosophy_02.jpg");
    }

    &--03 {
      background-image: url("../image/img_philosophy_03.jpg");
    }

    &--04 {
      background-image: url("../image/img_design_01.jpg");
    }

    &--05 {
      background-image: url("../image/img_design_02.jpg");
    }
  }

  &__body {
    font-size: 1.8rem;
    padding: 2.75em 3em;
    background-color: $color-primary;

    @include mqMd {
      font-size: 1rem;
    }

    @include mqSm {
      font-size: 3.2vw;
      padding: 1em 1.8em;
    }

    dt {
      font-size: 3rem;

      @include mqMd {
        font-size: 2rem;
      }

      @include mqSm {
        font-size: 5.4vw;
      }
    }

    dd {
      padding-top: 1.75em;
      line-height: 2;
    }
  }

  &__toggle {
    top: 0;
    right: 0;
    padding: 0;
    height: 60px;
    width: 60px;
    z-index: 2;
    position: absolute;

    @include mqSm {
      height: 3rem;
      width: 3rem;
    }

    &::before,
    &::after {
      position: absolute;
      transition: 0.5s all ease;
    }

    &::before {
      content: "";
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: #000;
    }

    &::after {
      content: "×";
      display: inline-block;
      font-size: 4rem;
      color: #fff;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;

      @include mqSm {
        font-size: 3rem;
        line-height: 1;
      }
    }
  }
}

.p-philosophy__body.is-active {
  .p-philosophy-card {
    &__label {
      clip-path: inset(0);
    }

    &__panel {
      animation: animation-panel 1s 1.5s ease-out normal forwards;
    }
  }

  .p-philosophy__panel:nth-child(2) .p-philosophy-card__panel {
    animation: animation-panel-reverse 1s 1.8s ease-out normal forwards;
  }

  .p-philosophy__panel:nth-child(3) .p-philosophy-card__panel {
    animation: animation-panel-reverse 1s 2.1s ease-out normal forwards;
  }
}
