.p-philosophy {
  position: relative;
  padding-bottom: 10vw;
  background-color: $color-gray;

  &::before {
    content: "";
    position: absolute;
    top: -12.5vw;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12.5vw calc(100vw - 15px);
    border-color: transparent transparent $color-gray transparent;
    transform: rotateY(-180deg);

    @include mqSm {
      top: -30vw;
      border-width: 0 0 30vw 100vw;
    }
  }

  &__head {
    margin-bottom: 7vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mqSm {
      margin-bottom: 20vw;

      &::before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 60%;
      }
    }

    &.is-active {
      .p-philosophy {
        &__heading span {
          clip-path: inset(0);
        }

        &__heading p {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__heading {
    position: relative;
    display: inline-block;
    font-size: 4.8rem;
    font-weight: normal;

    @include mqSm {
      font-size: 7.2vw;
      position: absolute;
      left: 0;
      top: 0;
    }

    & ~ & {
      top: -55px;

      @include mqSm {
        top: 21vw;
      }

      p {
        transition-delay: 0.9s;
      }

      span {
        transition-delay: 0.6s;
      }
    }

    p {
      display: inline-block;
      padding: 0.75em 1.5em;
      position: relative;
      z-index: 2;
      transition: all 0.5s 0.3s ease;
      opacity: 0;
      transform: translateY(5%);

      @include mqSm {
        padding: 0.75em 1em;
      }
    }

    span {
      position: absolute;
      display: inline-block;
      background-color: $color-primary;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      clip-path: inset(0 100% 0 0);
      transition: all 0.5s ease-out;
    }
  }

  &__panel {
    width: 50%;
    position: relative;
    cursor: pointer;

    @include mqSm {
      width: 90%;
      margin-right: 0;
      margin-left: auto;
    }

    & ~ & {
      margin-top: 4vw;

      @include mqSm {
        margin-top: 10vw;
      }
    }

    &:nth-child(2) {
      margin-left: 5vw;

      @include mqSm {
        margin-right: auto;
        margin-left: 0;
      }

      .p-philosophy-card__label {
        left: -3em;
        bottom: -1em;
        top: unset;
        right: unset;
        transition-delay: 1.3s;

        @include mqSm {
          right: -2.3em;
          left: unset;
        }
      }
    }

    &:nth-child(3) {
      .p-philosophy-card__label {
        top: unset;
        bottom: -1em;
        transition-delay: 1.6s;
      }
    }

    &:hover {
      .p-philosophy-card__panel {
        filter: none;
      }
    }

    &.is-open {
      width: 54.5%;

      @include mqSm {
        width: 100%;
      }

      .p-philosophy-card__label {
        p {
          transform: translateY(-50%);
          opacity: 0;
        }

        span {
          right: 0;
          left: auto;
          width: 100%;
          width: 0;
        }
      }

      .p-philosophy-card__panel {
        max-height: 60vw;
        filter: none;

        @include mqSm {
          max-height: 100vw;
        }
      }

      .p-philosophy-card__toggle {
        &::before {
          right: 0;
          left: auto;
          width: 100%;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__body {
    position: relative;

    @include mqSm {
      padding-top: 280px;
    }

    &:last-child {
      margin-top: 10vw;

      @include mqSm {
        margin-top: 20vw;
      }

      .p-philosophy {
        &__panel {
          margin-right: 0;
          margin-left: auto;

          @include mqSm {
            margin-right: auto;
            margin-left: 0;
          }

          .p-philosophy-card__label {
            left: -3em;
            right: unset;

            @include mqSm {
              left: unset;
              right: -2.3em;
            }
          }

          &:nth-child(2) {
            margin-right: 5vw;

            @include mqSm {
              margin-right: 0;
              margin-left: auto;
            }

            .p-philosophy-card__label {
              top: unset;
              bottom: -1em;
              right: -3em;
              left: unset;

              @include mqSm {
                left: -2.3em;
                right: unset;
              }
            }
          }
        }

        &__lead {
          right: unset;
          left: 0;
        }

        &__jp {
          right: unset;
          left: 12rem;
          top: 0;

          @include mqSm {
            left: 6rem;
          }
        }

        &__en {
          text-align: left;
          right: unset;
          left: 0;
          top: 2rem;
        }
      }
    }

    &.is-active {
      .p-philosophy {
        &__en span,
        &__jp {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }

  &__lead {
    width: 50%;
    top: 0;
    right: 0;
    position: absolute;
  }

  &__jp {
    writing-mode: vertical-rl;
    position: absolute;
    top: 4rem;
    right: 12rem;
    word-break: keep-all;
    font-size: 2.4rem;
    z-index: 2;
    line-height: 2;
    transform: translateY(-20%);
    transition: all 1s ease;
    opacity: 0;

    @include mqSm {
      font-size: 4vw;
      top: 2rem;
      right: 7.5rem;
    }
  }

  &__en {
    font-size: 12rem;
    letter-spacing: 0.2em;
    color: $color-primary;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    line-height: 1.2;

    @include mqSm {
      font-size: 7rem;
      letter-spacing: 0.3em;
    }

    span {
      display: block;
      transform: translateY(-20%);
      transition: all 1s ease;
      opacity: 0;

      + span {
        transition-delay: 0.3s;

        + span {
          transition-delay: 0.6s;
        }
      }
    }
  }
}
