.p-shops {
  height: 62vw;
  background-image: url("../image/img_shops_before.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: opacity 1s ease;

  @include mqSm {
    height: 126vw;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10vw 0 0 calc(100vw - 15px);
    border-color: $color-gray transparent transparent transparent;
    z-index: 3;

    @include mqSm {
      transform: rotateY(-180deg);
      border-width: 15vw 0 0 100vw;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/img_shops.jpg");
    clip-path: inset(0 100% 0 0);
    transition: all 0.8s 1s ease-out;
    z-index: 0;
  }

  &__link {
    display: inline-block;
    color: #fff;
    transition: opacity 0.3s ease;
    position: relative;
    z-index: 5;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s all 1.5s ease;

    &::before {
      content: "";
      width: 1.5vw;
      height: 1.5vw;
      border: 0px;
      border-top: solid 0.35vw #fff;
      border-right: solid 0.35vw #fff;
      transform: rotate(45deg);
      position: absolute;
      transform-origin: left bottom;
      top: 25%;
      right: -0.5em;
      animation: arrow-move 1s ease-in infinite alternate;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }

    @include mqIe {
      &:hover {
        &::before {
          opacity: 0.6;
        }
      }
    }
  }

  &.is-active {
    &::after {
      clip-path: inset(0);
    }

    .p-shops__link {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
