.p-shops {
  height: 62vw;
  background-image: url("/image/img_shops.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mqSm {
    height: 126vw;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10vw 0 0 calc(100vw - 15px);
    border-color: #fff transparent transparent transparent;

    @include mqSm {
      transform: rotateY(-180deg);
      border-width: 15vw 0 0 100vw;
    }
  }

  &__link {
    display: inline-block;
    color: #fff;
    transition: opacity 0.3s ease;

    @media (hover: hover) {
      &:hover {
        // &::before {
        opacity: 0.6;
        // }
      }
    }

    @include mqIe {
      &:hover {
        &::before {
          opacity: 0.6;
        }
      }
    }
  }
}
