.p-top {
  position: relative;
  margin-bottom: -25vw;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
  }

  &__spnav {
    display: none;

    @include mqSm {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 19vw;
      height: 19vw;
      background: #000;
      font-size: 7vw;
      color: #fff;
    }

    span {
      width: 20px;
      height: 1px;
      background: #fff;
      position: relative;

      &::before,
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 1px;
        background: #fff;
        left: 0;
      }

      &::before {
        top: -7px;
      }

      &::after {
        top: 7px;
      }
    }
  }

  &__logo {
    position: absolute;
    z-index: 11;
    top: 6vw;
    left: 6vw;
    width: 7vw;
    opacity: 0;
    transition: 0.8s 1s opacity ease;

    @include mqSm {
      top: 7vw;
      left: 7vw;
      width: 9.5vw;
    }
  }

  &__nav {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    font-size: 1.6rem;
    align-items: flex-start;
    cursor: pointer;

    @include mqSm {
      font-size: 3.6vw;
    }

    > * ~ * {
      * {
        width: 160px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;

        @include mqSm {
          width: 19vw;
          height: 19vw;
          top: calc(19vw + 1px);
        }
      }
    }
  }

  &__lang {
    height: 56px;
    position: absolute;
    top: 0;
    right: 161px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mqSm {
      display: none;
    }

    &::after {
      content: "▼";
      font-size: 0.6em;
      display: inline-block;
      margin-left: 0.5em;
    }

    i {
      margin-right: 0.5em;
      position: static;
      height: auto;
      width: auto;
    }
  }

  &__navlink {
    text-align: center;
    background: #000;
    color: #fff;
    transition: opacity 0.3s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }

    & ~ & {
      margin-top: 1px;
      top: 56px;

      @include mqSm {
        top: calc(38vw + 1px);
      }
    }
  }

  &.is-active {
    .p-top__logo {
      opacity: 1;
    }

    &::before {
      animation: animation-mv 1s ease-out normal forwards;
    }

    .p-mv {
      background-size: 100%;
    }

    .p-mv-anim {
      clip-path: inset(0);
    }
  }
}
