@charset "utf-8";
.u-font-furuta {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.u-font-furuta-md {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.u-font-rockwell {
  font-family: "Rockwell";
}
